@page
@model ViewModel
@{
    ViewData["Title"] = "View";
    if (Model.LoggedUser != null)
    {
        Layout = "_LoggedLayout";
    }
}
@{string author = (Model.Author.UserName + "s");
 <center>
        <h1 class="display-4" style=center>@author blog</h1>
</center>
}
@foreach (Post post in Model.Posts.Reverse()){
    <center>
        <h1 class="display-4" style=center>@post.Title</h1>
    </center>
    <br>
    <p class="bread"> @post.Text</p>
    <br>
    <br>
}
